[Unit]
Description=Log DWD SIM
Wants=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/pi/PythonProgs/monitoring/venv3p7/bin/python3 monitoring_template.py DWD_SIM
WorkingDirectory=/home/pi/PythonProgs/monitoring
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=pi

[Install]
WantedBy=multi-user.target