[Unit]
Description=Log Luxtronik
Wants=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/pi/PythonProgs/monitoring/venv3p9/bin/python3 monitoring_template.py Luxtronik
WorkingDirectory=/home/pi/PythonProgs/monitoring
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=pi

[Install]
WantedBy=multi-user.target
