#numpy
mysql-connector-python<=8.0.29
retry
pytz
urllib3
paho-mqtt
#influxdb3-python
influxdb-client
PyYAML
pysunspec2
serial
#nut2  # the orriginal nut2 package uses telnetlib which is deprecated in python 3.13 and up
nut2-notl
pvlib >= 0.8
lxml
requests